.navMobile{
    width:100%;
    background:#e9eaec;
    padding: 0px 18px;
    border-radius:12px;
    display:flex;
    align-items:center;
  }
  
  .navMobile .logoBox{
    display:flex;
    align-items:center;
    gap:12px;
    cursor: pointer;
  }

  
  .navMobile .logoText{
    font-size:18px;
    font-weight:700;
    color:#636e50;
    letter-spacing:0.5px;
  }


  .navMobile .logo{
    width: 33vw;
  }

  @media (min-width: 768px){
    .navMobile .logo{
      width: 22vw;
    }
  }

  @media (min-width: 1024px){
    .navMobile{
      display: none;
    }
  }